@charset "ISO-8859-1";

.select_wrapper {
	border: none;
	width: 100%;
	height: 40px;
	padding-left: 10px;
	background: rgb(221, 232, 217);
	font-family: Advent Pro;
	letter-spacing: 3px;
	font-size: 20px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}

.select_antrag {
	border: none;
	width: 104%;
	height: 25px;
	padding-left: 10px;
	background: #ffffff;
	font-family: Advent Pro;
	letter-spacing: 3px;
	font-size: 15px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}

.select_option {
	color: #666;
	font-family: Advent Pro;
}

@media ( min-width : 200px) {
	.logo_container {
		display: table;
		width: 100%;
	}
	.lo {
		display: table-cell;
		padding: 0.5em;
	}
	.lo:nth-child(1) {
		width: 30%;
		height: 50px;
	}
	.lo:nth-child(2) {
		width: 70%;
		position: relative;
		bottom: 60px;
		left: 70px;
	}
	.lo:nth-child(3) {
		width: 10%;
		position: relative;
		bottom: 230px;
		right: 150px;
	}
}

	.layoutstyle {
		display: table;
		border-spacing: 5px;
		width: 100%;
		height: 550px;
		position: relative;
		bottom:30px;
		background-image: url("image/hintergrund3.PNG");
		opacity: 0.9
	}
	
@media ( min-width : 200px) {	
	
	.layout_container{
		display: table;
		border-spacing: 5px;
		width: 60%;
		height: 400px;
		position: relative;
		bottom:-70px;
		right:-400px;	
	}
	
	.layout {
		display: table-cell;
		padding: 0.5em;
		vertical-align: center;
		box-sizing: border-box;
		background: #EEEEEE;
		width: 20%;
		opacity: 0.7;
	}
}

@media ( min-width : 200px) {
	.con:nth-child(1) {
		background: #89AC76;
	}
	.con:nth-child(2) {
		background: #89AC76;
	}
	.container_mid {
		display: table;
		border-spacing: 5px;
		width: 100%;
		position: relative;
		bottom:30px;
	}
	
	.con {
		display: table-cell;
		height: 120px;
		box-sizing: border-box;
		padding: 0.5em;
		vertical-align: center;
		box-sizing: border-box;
	}
	.con:nth-child(1) {
		width: 50%;
	}
	.con:nth-child(2) {
		width: 50%;
	}
}

.con_style {
	font-size: 30px;
	text-align: center;
	font-family: Advent Pro;
	letter-spacing: 7px;
}

.button_profil {
	background: #FFFFFF;
	border-radius: 7px;
	width:150px;
	position: relative;
	left: 100px;
	font-size: 15px;
	font-family: Advent Pro;
	letter-spacing: 3px;
	padding:5px;
	text-align: center;
}

.button_antrag {
	background: #FFFFFF;
	border-radius: 7px;
	width:200px;
	position: relative;
	right: 350px;
	font-size: 13.5px;
	font-family: Advent Pro;
	letter-spacing: 3px;
	padding:5px;
	text-align: center;
	top:240px;
}

.inputstyle{
	width: 100%;
	font-family: Advent Pro;
	font-size: 15px;
	height: 25px;
	border-radius: 5px;
	position:relative;
	left:50px;
}

.label_antrag{
	font-family: Advent Pro;
	font-size:20px;
}

.loginbox{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:350px;
	height:420px;
	padding:80px 40px;
	box-sizing: border-box;
	background:rgba(0,0,0,0.5);
	font-family: Advent Pro;
	font-size: 20px;
}
	
	